tifffile==2024.12.12
ipywidgets==8.1.5
traits==6.4.3
executing==2.1.0
pydantic==2.10.6
argon2-cffi-bindings==21.2.0
nvidia-curand-cu12==10.3.5.147
stack-data==0.6.3
mistune==3.0.2
json5==0.10.0
ConfigArgParse==1.7
nvidia-nvjitlink-cu12==12.4.127
webencodings==0.5.1
pytz==2023.4
networkx==3.2.1
nvidia-cudnn-cu11==9.1.0.70
PySocks==1.7.1
xmltodict==0.14.2
cachetools==5.5.0
exceptiongroup==1.2.2
vtk==9.4.1
colorlog==6.9.0
nox==2024.10.9
aliyun-python-sdk-kms==2.16.5
nvidia-nvtx-cu11==11.8.86
nvidia-cufft-cu12==11.2.1.3
av==14.0.1
numba==0.60.0
jupyter==1.1.1
jupyter_server_terminals==0.5.3
rfc3986-validator==0.1.1
GitPython==3.1.44
blinker==1.9.0
nvidia-cusparse-cu12==12.3.1.170
torch==2.5.1+cu118
Pygments==2.18.0
kornia_rs==0.1.7
tzdata==2024.2
cryptography==44.0.1
requests==2.32.3
nvidia-cudnn-cu12==9.1.0.70
nvidia-cublas-cu11==11.11.3.6
itsdangerous==2.2.0
torchaudio==2.5.1+cu118
rich==13.4.2
jmespath==0.10.0
pyarrow==18.1.0
setuptools==60.2.0
mdurl==0.1.2
nvidia-nvtx-cu12==12.4.127
jupyter_core==5.7.2
zipp==3.21.0
pure_eval==0.2.3
httpcore==1.0.7
rfc3339-validator==0.1.4
comm==0.2.2
pybind11==2.13.6
SharedArray==3.2.4
dash-core-components==2.0.0
MarkupSafe==2.1.5
pyquaternion==0.9.9
easydict==1.13
motmetrics==1.4.0
scipy==1.14.1
dash-html-components==2.0.0
parso==0.8.4
python-dateutil==2.9.0.post0
matplotlib-inline==0.1.7
ptyprocess==0.7.0
sympy==1.13.1
debugpy==1.8.11
ipykernel==6.29.5
triton==3.1.0
psutil==6.1.1
idna==3.10
wandb==0.19.8
click==8.1.8
nuscenes-devkit==1.0.5
annotated-types==0.7.0
arrow==1.3.0
av2==0.2.1
lazy_loader==0.4
pycparser==2.22
cumm-cu118==0.7.11
ipython==8.31.0
pccm==0.4.16
protobuf==5.29.2
python-json-logger==3.2.1
crcmod==1.7
jupyterlab_widgets==3.0.13
setproctitle==1.3.5
argon2-cffi==23.1.0
pexpect==4.9.0
nvidia-cuda-runtime-cu12==12.4.127
docker-pycreds==0.4.0
dash==2.18.2
httpx==0.28.1
gitdb==4.0.12
decorator==5.1.1
fqdn==1.5.1
nvidia-cusolver-cu11==11.4.1.48
traitsui==8.0.0
fsspec==2024.2.0
websocket-client==1.8.0
pydantic_core==2.27.2
nvidia-cuda-runtime-cu11==11.8.89
ccimport==0.4.4
jupyterlab==4.3.4
pyface==8.0.0
kornia==0.6.0
widgetsnbextension==4.0.13
spconv-cu118==2.3.8
retrying==1.3.4
h11==0.14.0
dash-table==5.0.0
nest-asyncio==1.6.0
attrs==24.3.0
platformdirs==4.3.6
Cython==3.0.12
cycler==0.12.1
importlib_metadata==8.5.0
jupyterlab_server==2.27.3
mpmath==1.3.0
torch_scatter==2.1.2
pillow==10.2.0
nvidia-cuda-cupti-cu11==11.8.87
scikit-learn==1.6.0
imageio==2.36.1
addict==2.4.0
bleach==6.2.0
Werkzeug==3.0.6
plotly==5.24.1
filelock==3.14.0
prometheus_client==0.21.1
nbclient==0.10.2
jedi==0.19.2
Flask==3.0.3
joblib==1.4.2
ninja==1.11.1.3
sniffio==1.3.1
argcomplete==3.5.2
notebook==7.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
nvidia-nccl-cu11==2.21.5
babel==2.16.0
lark==1.2.2
referencing==0.35.1
jupyter-console==6.6.3
Jinja2==3.1.3
wcwidth==0.2.13
torchvision==0.20.1+cu118
typing_extensions==4.12.2
nvidia-cuda-cupti-cu12==12.4.127
pandocfilters==1.5.1
pyzmq==26.2.0
cffi==1.17.1
tinycss2==1.4.0
kiwisolver==1.4.7
matplotlib==3.5.3
distlib==0.3.9
mayavi==4.8.2
certifi==2024.12.14
nbformat==5.10.4
tqdm==4.65.2
jsonpointer==3.0.0
tenacity==9.0.0
traitlets==5.14.3
nvidia-cusolver-cu12==11.6.1.9
tensorboardX==2.6.2.2
terminado==0.18.1
open3d==0.18.0
nvidia-curand-cu11==10.3.0.86
asttokens==3.0.0
nvidia-nccl-cu12==2.21.5
defusedxml==0.7.1
overrides==7.7.0
isoduration==20.11.0
async-lru==2.0.4
jupyter-events==0.11.0
oss2==2.17.0
nbconvert==7.16.4
anyio==4.7.0
pycryptodome==3.21.0
aliyun-python-sdk-core==2.16.0
sentry-sdk==2.22.0
PyYAML==6.0.2
soupsieve==2.6
jupyter-lsp==2.2.5
webcolors==24.11.1
types-python-dateutil==2.9.0.20241206
opencv-python==4.10.0.84
fastjsonschema==2.21.1
urllib3==1.26.20
nvidia-cuda-nvrtc-cu11==11.8.89
scikit-image==0.25.0
nvidia-cublas-cu12==12.4.5.8
termcolor==2.5.0
markdown-it-py==3.0.0
apptools==5.3.0
charset-normalizer==3.4.0
Send2Trash==1.8.3
nvidia-cufft-cu11==10.9.0.58
tornado==6.4.2
smmap==5.0.2
nvidia-cusparse-cu11==11.7.5.86
nvidia-cuda-nvrtc-cu12==12.4.127
prompt_toolkit==3.0.48
tomli==2.2.1
portalocker==3.0.0
threadpoolctl==3.5.0
packaging==24.2
pycocotools==2.0.8
pandas==2.2.3
uri-template==1.3.0
notebook_shim==0.2.4
pyproj==3.7.0
llvmlite==0.43.0
fire==0.7.0
jupyter_server==2.15.0
Shapely==1.8.5.post1
envisage==7.0.3
rpds-py==0.22.3
openxlab==0.1.2
fonttools==4.55.3
jupyter_client==8.6.3
pyparsing==3.2.0
six==1.17.0
numpy==1.26.3
pip==24.3.1
wheel==0.44.0
descartes==1.1.0
jupyterlab_pygments==0.3.0
beautifulsoup4==4.12.3
virtualenv==20.28.0
pcdet==0.6.0+8caccce
pointnet2==0.0.0
pointnet2==0.0.0
